*{
 margin: 0px;
 padding: 0px;
 font-family: Arial,sans-serif;
 box-sizing: border-box;
 text-decoration: none;
 list-style: none;
}
body{
 background-color: #000000;
}
.main{
 width: 100%;

}
.main-mid{
 width: 1170px;
 background: #4d4d4d;
 margin: auto;
}

/* HEADER TOP */
.top-header{
 width: 100%;
 display: flex;
 margin: auto;
 justify-content: space-between;
}
.leftitem{
 display: flex;
  gap: 10px;
  align-items: center;
  margin: 8px 20px;
}
.leftitem img{
 width: 20px;
 height: 20px;
}
.leftitem span{
 color: #ffffff;
 font-size: 20px;
 font-weight: 200px;
 cursor: pointer;
}
.rightitem{
 display: flex;
  gap: 10px;
  align-items: center;
  margin: 8px 20px;
}
.rightitem img{
 width: 20px;
 height: 18px;
}
.rightitem span{
 color: #ffffff;
 font-size: 20px;
 font-weight: 200px;
 cursor: pointer;
}

/* HEADER */
.header{
 width: 100%;
 height: 130px;
 background: #ffffff;
 display: flex;
 justify-content: space-between;
 align-items: end;
 
}
figure{
 margin: 0px 50px;
}
figure img{
 width: 150px;
 
}
nav{
 padding-bottom: 20px;
}
nav ul{
 display: flex;
}
nav ul li{
 display: flex;
 margin-right: 70px;
}
nav>ul>li:first-child a{
color: #00A8Ec !important; 
}

nav ul li a{
 font-size: 18px;
 font-weight: 700;
 color: #000000;
 transform: transition 0.3s ease;
}

nav ul li a:hover{
color:#00A8Ec ;
text-decoration: underline;
}
nav>ul>li:first-child a:hover{
 text-decoration: none;
}
/* WEB-CONTENT SECTION */

/* BANNER SECTION */
.Web-content{
 width: 100%;
 background: #f1f0ef;
 display: flex;
 margin:auto;
 padding: 25px 25px;
}
.banner-sec{
  width: 100%;
  background: #ffffff;
  display: flex;
  margin: auto;
}
.banner-left{
 max-width: 25%;
 
}
.menuDiv> ul> li{
  background: #00a8ec;
  margin: 5px 10px;
  padding: 10px 15px;
  text-align: center;
}
.menuDiv ul li a{
  color: #ffffff;
   font-size: 18px;
 font-weight: 700;
} 
.newsDiv{
  width: 90%;
  border: 2px solid black;
  border-radius: 10px 10px 0px 0px;
  margin:0px 15px 140px 10px;
  
}
.newsDiv span{
  width: 100%;
  background: #EF9C00;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: center;
  padding: 20px 0px;

}

.newsDiv ul li{
  margin:5px 0px 25px 15px;
  list-style-type: disc;
   list-style: none;
  color: #343130;
}

.newsDiv ul li img{
  border-radius: 50%;
}

.banner-right{
  width: 75%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: start;
}
figure img{
  width: 100%;
}








.coursebox{
  width: 100%;
  display: flex;
}
.coursebox-left{
  width: 100%;
  display: block;
}



.coursebox-right{
  width: 100%;
  display: block;
}

.icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0px 0px 15px;
}

.icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.icon h3 {
  font-size: 18px;
  font-weight: 700;
  color: var(--icon-color);        /* same color as the image */
}

.php img { background: #E6611C; }
.php h3{color: #E6611C;}
.adv-php img { background: #5e5da4; }
.adv-php h3{color: #5e5da4;}
.py img { background: #7bb1e0; }
.py h3{color: #7bb1e0;}
.android img { background: #89c222; }
.android h3{color: #89c222;}
.digi img { background: #5e5da4; }
.digi h3{color: #5e5da4;}
.graphic img { background: #d60726; }
.graphic h3{color: #d60726;}
.seo img { background: #308a7c; }
.seo h3{color: #308a7c;}
.wordpress img { background: #e6611c; }
.wordpress h3{color: #e6611c;}