*{
 margin: 0px;
 padding: 0px;
 font-family: Arial, Helvetica, sans-serif;
 list-style: none;
 text-decoration: none;
 box-sizing: border-box;
}
.assign7{
 width: 100%;
background-color: whitesmoke;
}
 .container{
 width: 100%;
}
h1{
font-size: 2em;
text-align: center;
padding: 20px;
}
.containerMid{
 width: 1140px;
 margin: auto;
}

/* row1 */

.row1{
width: 100%;
display: flex;
justify-content: space-between;
text-align: center;
margin-bottom: 40px;
}
.row1C1{
width: 31%;
 background: white;
 padding: 20px;
}
.row1C1 h2{
 font-size: 24px;
 margin: block;
}
.row1C1 p{
 font-size:16 px;
 line-height: 25px;
 text-align: center;
}
.row1C2{
width: 31%;
 background: white;
 padding: 20px;

}
.row1C2 h2{
 font-size: 24px;
 margin: block;
}
.row1C2 p{
 font-size:16 px;
 line-height: 25px;
 text-align: center;
}
.row1C3{
width: 31%;
 background: white;
 padding: 20px;

}
.row1C3 h2{
 font-size: 24px;
 margin: block;
}
.row1C3 p{
 font-size:16 px;
 line-height: 25px;
 text-align: center;
}



/* row2 */


.row2{
width: 100%;
display: flex;
justify-content: space-between;
text-align: center;
margin-bottom: 40px;
}
.row2C1{
width: 31%;
 background: white;
 padding: 20px;
}
.row2C1 h2{
 font-size: 24px;
 margin: block;
}
.row2C1 p{
 font-size:16 px;
 line-height: 25px;
 text-align: center;
}
.row2C2{
width: 31%;
 background: white;
 padding: 20px;

}
.row2C2 h2{
 font-size: 24px;
 margin: block;
}
.row2C2 p{
 font-size:16 px;
 line-height: 25px;
 text-align: center;
}
.row2C3{
width: 31%;
 background: white;
 padding: 20px;

}
.row2C3 h2{
 font-size: 24px;
 margin: block;
}
.row2C3 p{
 font-size:16 px;
 line-height: 25px;
 text-align: center;
}

/* row3 */


.row3{
width: 100%;
display: flex;
justify-content: space-between;
text-align: center;
margin-bottom: 40px;
}
.row3C1{
width: 31%;
 background: white;
 padding: 20px;
}
.row3C1 h2{
 font-size: 24px;
 margin: block;
}
.row3C1 p{
 font-size:16 px;
 line-height: 25px;
 text-align: center;
}
.row3C2{
width: 31%;
 background: white;
 padding: 20px;

}
.row3C2 h2{
 font-size: 24px;
 margin: block;
}
.row3C2 p{
 font-size:16 px;
 line-height: 25px;
 text-align: center;
}
.row3C3{
width: 31%;
 background: white;
 padding: 20px;

}
.row3C3 h2{
 font-size: 24px;
 margin: block;
}
.row3C3 p{
 font-size:16 px;
 line-height: 25px;
 text-align: center;
}
